@page "/BusinessA"
@using CommonLibrary

<div class="my-component">
    This component is defined in the <strong>@(typeof(BusinessAHome).Assembly.GetName())</strong> library. <br />
    This message is from CommonModule: <strong>@CommonModule.Message</strong>.
</div>
