<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- 本番では Azure Artifacts や GitHub Packages を指定 -->
    <add key="local" value="./local" />
  </packageSources>
</configuration>
