@page "/BusinessB"
@using CommonLibrary

<div class="my-component">
    This component is defined in the <strong>@(typeof(BusinessBHome).Assembly.GetName())</strong> library. <br />
    This message is from BusinessA.Public: <strong>@BusinessA.Public.BusinessAModule.Message</strong>. <br />
    This message is from CommonModule: <strong>@CommonModule.Message</strong>.
</div>
